<%- include("./partials/messages") %>
<!-- add new expense -->
<div id="id01" class="modal">
    <form id="addForm" class="modal-content animate" action="/addnew" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>
        </div>
        <div class="container container-fluid">
            <label for="uname"><b>User</b></label>
            <input type="text" value="<%= user.email %>" name="uname" disabled>
            <label for="date"><b>Date</b></label>
            <input type="text" value="<%= calculatedData.today %>" name="today" disabled>
            <label for="spent_cate"><b>Choose a category</b></label>
            <select id="spent_cate" name="spent_cate" required>
                <option value="Food">Food</option>
                <option value="Travel">Travel</option>
                <option value="Books">Books</option>
                <option value="Drinks">Drinks</option>
                <option value="Grocery">Grocery</option>
                <option value="Others">Others</option>
            </select>
            <label for="spent_on"><b>Spent on(Optional)</b></label>
            <input type="text" name="spent_on">
            <label for="spent_amnt"><b>Amount</b></label>
            <input type="number" placeholder="Amount in ₹" name="spent_amnt" min="1" max="99999" required>
            <div class="row-fluid add_buttons">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-danger cancelbtn"
                    onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </div>
    </form>
</div>

<!-- View expenses -->
<div id="id02" class="modal">
    <div class="imgcontainer">
        <span onclick="document.getElementById('id02').style.display='none'" class="close"
            title="Close Modal">&times;</span>
    </div>

    <div class="container-fluid modal-content2 animate table-responsive">

        <table id="table" class="table">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col">Spent On</th>
                <th scope="col">Amount</th>
                <th scope="col">Total Spent</th>
            </tr>
            <% for(var i=0; i < userdata.length; i++) { %>
            <tr>
                <td><%= userdata[i].entrydate.toLocaleDateString("en-US") %> </td>
                <td><%= userdata[i].spent_category %> </td>
                <td><%= userdata[i].spent_on %> </td>
                <td>₹<%= userdata[i].amount %> </td>
                <td>₹<%= userdata[i].total %> </td>
            </tr>
            <% } %>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger cancelbtn"
                        onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                </td>
                <td>
                    <button type="button" class="btn darkmode" id="darkmode">Dark mode</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- Cards -->
<div class="container-fluid">
    <div class="row row-fluid">
        <div class="col-sm-3">
            <div class="card-counter primary">
                <i class="fa fa-code-fork"></i>
                <span class="count-numbers">₹<%= calculatedData.totalSpent %></span>
                <span class="count-name">Total Spent</span>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card-counter danger">
                <i class="fa fa-ticket"></i>
                <span class="count-numbers">₹<%= calculatedData.bal_left%></span>
                <span class="count-name">Balance Left</span>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card-counter success">
                <i class="fa fa-database"></i>
                <span class="count-numbers">₹<%= calculatedData.max_trans%></span>
                <span class="count-name">Max Transaction</span>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card-counter info">
                <i class="fa fa-users"></i>
                <span class="count-numbers"><%= calculatedData.overbudget%></span>
                <span class="count-name">Overbudget</span>
            </div>
        </div>

    </div>
    <div id="chart">
        <h3>Spend by Categories</h3>
        <canvas id="myChart"></canvas>
    </div>
    <canvas id="barChart"></canvas>

    <script>
        $(document).ready(function () {
            $("#darkmode").click(function () {
                $("#table").toggleClass("table-dark");
            });
            $("#switchDark").click(function () {
                $(document.body).toggleClass("dark");
                $("#header").toggleClass("navbar-dark");
                $("#table").toggleClass("table-dark");
                $("#addForm").toggleClass("fulldark");
                $("h3").toggleClass("fulldark");
                $("input").toggleClass("fulldark");
            });
            //chart
            var myVar = '<%- JSON.stringify(calculatedData.chartData) %>';
            myVar = JSON.parse(myVar);
            var ctx = document.getElementById("myChart").getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ["Food", "Travel", "Books", "Drinks", "Grocery", "Others"],
                    datasets: [{
                        data: [myVar.Food, myVar.Travel, myVar.Books, myVar.Drinks, myVar.Grocery, myVar.Others], // Specify the data values array
                        borderColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)", '#19e0cc', '#1c6ce6', '#f76fee'], // Add custom color border 
                        backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)", '#19e0cc', '#1c6ce6', '#f76fee'], // Add custom color background (Points and Fill)
                        borderWidth: 1 // Specify bar border width
                    }]
                },
                options: {
                    responsive: true, // Instruct chart js to respond nicely.
                    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                }
            });
        });
        //Bar chart
        var bardata = '<%- JSON.stringify(calculatedData.bardata) %>';
        bardata = JSON.parse(bardata);
        var barctx = document.getElementById("barChart").getContext("2d");
        new Chart(barctx,
            {
                "type": "bar",
                "data": {
                    "labels": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
                    "datasets": [
                        {
                            "label": "Yearly Spend analysis",
                            "data": [bardata.month1, bardata.month2, bardata.month3, bardata.month4, bardata.month5, bardata.month6, bardata.month7, bardata.month8, bardata.month9, bardata.month10, bardata.month11, bardata.month12],
                            "fill": false,
                            "backgroundColor": ["rgba(255, 99, 132, 0.8)", "rgba(255, 159, 64, 0.8)", "rgba(255, 205, 86, 0.8)", "rgba(75, 192, 192, 0.8)", "rgba(54, 162, 235, 0.8)", "rgba(153, 102, 255, 0.8)", "rgba(201, 203, 207, 0.8)", "rgba(5, 40, 240, 0.8)", "rgba(7, 235, 15, 0.8)", "rgba(235, 7, 15, 0.8)", "rgba(102, 108, 120, 0.8)", "rgba(167, 163, 247, 0.8)"],
                            "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)", "rgba(5, 40, 240)", "rgba(7, 235, 15)", "rgba(235, 7, 15)", "rgba(102, 108, 120)", "rgba(167, 163, 247)"],
                            "borderWidth": 1
                        }]
                },
                "options": {
                    "scales":
                    {
                        "yAxes": [
                            {
                                "ticks":
                                {
                                    "beginAtZero": true
                                }
                            }]
                    }
                }
            });
        function openNav() {
            document.getElementById("mySidenav").style.width = "35%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>